@font-face {
    font-family: TwitterChirp;
    src: url(https://abs.twimg.com/responsive-web/client-web/Chirp-Light.3a18e64a.woff2) format('woff2'), url(https://abs.twimg.com/responsive-web/client-web/Chirp-Light.7a5673aa.woff) format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: "TwitterChirpExtendedHeavy", "Verdana", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    color: rgb(231, 233, 234);
    font-weight: 700;
    align-items: stretch;
}

.layout-page {
    opacity: 25%;
}

/* Logo */
.weblogo {
    min-height: 45vh;
    justify-content: center;
    padding: 0;
    overflow: none;
    display: flex;
    flex: 1;
    align-items: stretch;
    flex-direction: column;
    max-height: 380px;
    height: 25%;
    max-width: 20%;
    position: absolute;
    top: 25%;
    left: 16%;
}

.xlogo {
    margin-top: 0;
}

/* Login Side */
.message {
    font-size: 64px;
    margin-bottom: 15%;
    width: 570px;
}

.bottomcentralmessage {
    font-size: 31px;
    margin-bottom: 30px;
}

.front {
    position: absolute;
    left: 25%;
    top: 11.5%;
    display: flex;
    flex-shrink: 0;
    padding: 16px;
    max-width: 700px;
    justify-content: center;
    width: 100%;
    font-size: 15px;
    color-scheme: dark;
}

/* Login Buttons */
.logins {
    position: relative;
    left: 50%;
    padding: 16px;
    width: 300px;
}

.loginbutton,
.createaccount,
.next-button{
    min-width: 36px;
    min-height: 36px;
    background-color: aliceblue;
    border-radius: 40px;
    margin-right: 20px;
    padding-left: 16px;
    padding-right: 16px;
    width: 300px;
    height: 40px;
    border: none;
    cursor: pointer;
}

.loginbutton:hover,
.createaccount:hover,
.next-button:hover,
.forgot-button:hover {
    cursor: pointer;
}

.loginbutton:active,
.createaccount:active,
.next-button:active,
.forgot-button:active {
    opacity: 70%;
}

.loginlogo {
    display: flex;
    left: 20%;
    top: 25%;
    position: relative;
    height: 20px;
}

.loginmessage {
    font-weight: 700;
    color: rgb(14, 13, 13);
    font-size: 14px;
    display: flex;
    bottom: 60%;
    left: 10px;
    justify-content: center;
    position: relative;
}

.seperator-or {
    display: flex;
    align-items: center;
    justify-content: center;
}

.line {
    border: 0;
    border-top: 1px solid rgba(230, 230, 250, 0.377);
    width: 150px;
    margin: 0 10px;
}

/* Create Account Button */
.createaccount-div {
    margin-top: 5%;
}

.createmessage {
    font-size: 14px;
    font-weight: 700;
}

/* Short Message */
.shortmessage {
    font-size: 10px;
    font-weight: 400;
    margin-top: 5px;
    margin-bottom: 50px;
    color: grey;
    max-width: 380px;
    width: 340px;
    word-wrap: break-word;
    text-decoration: none;
    line-height: 10px;
    font-size-adjust: none;
}

.bluelink {
    color: rgb(29, 155, 240);
    text-decoration: none;
}

.bluelink:hover {
    cursor: pointer;
    text-decoration: underline;
}

.bluelink:active {
    opacity: 80%;
}

.shortmessage2 {
    font-weight: 400;
}

.signinbutton {
    margin-top: 20px;
    min-width: 36px;
    min-height: 36px;
    background-color: white;
    border-radius: 40px;
    padding-left: 16px;
    padding-right: 16px;
    width: 300px;
    height: 40px;
    border: solid 1px lightblue;
    cursor: pointer;
}

.signinbutton:active {
    opacity: 70%;
}

.signin {
    font-weight: 700;
    color: rgb(29, 155, 240);
}

/* Miscellaneous */
.miscellaneous {
    position: absolute;
    margin-left: 5%;
    bottom: 0;
    line-height: 16px;
    min-width: 0;
    word-wrap: break-word;
    justify-content: center;
}

.textlink,
.textafterlinks {
    color: rgb(113, 118, 123);
    font-size: 13px;
    text-decoration: none;
    font-weight: 400;
    margin-top: 4px;
    margin-bottom: 4px;
    padding-right: 16px;
}

.textlink:hover,
.textafterlinks:hover {
    cursor: pointer;
    text-decoration: underline;
}

.footer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    padding: 12px;
    align-items: stretch;
    line-height: 13px;
}

/* Popup */
.popup {
    min-height: 400px;
    min-width: 600px;
    height: 650px;
    width: 600px;
    max-height: 90vh;
    max-width: 80vw;
    border-radius: 16px;
    position: relative;
    text-decoration: none;
    margin: auto;
    align-items: stretch;
    background-color: black;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    top: 8rem;
    border: 2px solid whitesmoke;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
}

.form {
    justify-self: center;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 40px;
}

.signincompany {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    margin-top: 0px;
    margin-bottom: 15px;
}

.close-btn {
    margin: 10px;
    padding: 10px;
    border-radius: 100%;
    display: flex;
    justify-items: center;
    height: 20px;
    width: 20px;
}

.close-btn:hover {
    cursor: pointer;
    opacity: 25%;
    background-color: aliceblue;
}

.x-logo {
    position: relative;
    left: 18rem;
    bottom: 3rem;
}

header {
    height: 60px;
}

.phone-email-username {
    width: 298px;
    height: 56px;
    background-color: black;
    border: solid grey 1px;
    color: white;
    font-size: 15px;
}

.next-button {
    min-width: 36px;
    min-height: 36px;
    background-color: aliceblue;
    width: 300px;
    height: 40px;
    border-radius: 40px;
    border: none;
    margin: auto;
    margin-top: 0;
    margin-bottom: 20px;
}

.forgot-button {
    min-width: 36px;
    min-height: 36px;
    background-color: black;
    width: 300px;
    height: 40px;
    border-radius: 40px;
    border: solid 1px grey;
    margin: auto;
    margin-top: 0;
    margin-bottom: 20px;
}

.loginnext {
    font-weight: 700;
    color: rgb(14, 13, 13);
    font-size: 14px;
    margin: auto;
}

.forgotpassword {
    font-weight: 700;
    color: aliceblue;
    font-size: 14px;
    margin: auto;
}

.signupmessage {
    color: grey;
    align-self: left;
    margin: auto;
    margin-top: 40px;
}

.text-signup {
    color: grey;
    font-size: 11px;
    line-height: 12px;
}